@{
    ViewBag.Title = "Contact Details";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Evolent Health International Private Limited<br />
    Address: 9th Floor, Sai Radhe Complex, RBM Road, Behind Sheraton Grand,<br />
    Kakkanad<br />
    Pune, Maharashtra 411001.
</address>

