@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Evolent Health International Private Limited</h1>
    <p class="lead">Wellcome to Health International Private Limited</p>

</div>

